<div class="box">
    <h1>Productos</h1>
    <div class="products-box">
        {{#each products}}
            <div class="product-card">
                <h3>{{this.title}}</h3>
                <hr>
                <p>Categoria: {{this.category}}</p>
                <p>Descripción: {{this.description}}</p>
                <p>Precio: $ {{this.price}}</p>
            </div>
        {{/each}}
    </div>
</div>

{{!-- inicia el chat --}}

<h1>!Hola! Welcome Chat</h1>

<div class="box">
    <input id="chatBox" name "chatBox" type="text">
    <div class="boxMessages">
        <div id="messagesLogs"></div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>